html, body {
@apply font-sans;
  color: var(--color);
  background-color: var(--background-color);
  font-size: 14px;
}

body {
  h1, h2, h3, h4, h5, h6 {
    @apply: m-0 p-0;
  }

  h1 {
  @apply text-3xl mb-4;
  }

  h2 {
  @apply text-2xl mb-4;
  }

  h3 {
  @apply text-xl mb-4;
  }
}

.button-group {
@apply flex flex-row gap-1 self-start;
}